/* nav */
.navbar-brand img {
    height: 55px;
}
/* footer */

footer {
    text-align: center;  
     
 }

.card-header { height: 80px;}


body { 
    background-color: #2A4747 ;
    margin-bottom: 0;
}
 
/* Index */
#carouselExampleIndicators { 
    width: 50%;
    margin: auto;
}

h1 { 
    display: flex;
    justify-content: center;
    padding: 25px;
}

h2 { 
    padding: 20px;
}


.video { 
padding: 100px;
}

.video iframe {
    max-width: 100%;
    height: 270px;
}


/* contacto */

.maincontact {    
    padding-bottom: 230px;   
}


/* Galeria */

#galeria img {
    height: 100%;
    width: 100%;
    padding: 10px;  
}

.container {
max-width: 80%;
max-height:90%;
min-width: 50%;

}
#galeria img:hover { border: 3px solid; color: #FFE066;}

/* Productos */

.card {
    margin: 20px;
}
.card:hover {
    border: 5px solid; color: #FFE066;
}

/* info */

#accordionPanelsStayOpenExample {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    max-width: 50%;



}