// footer
footer { 
    background:  #0A3033; 
    text-align: center;
    margin-top: 40px;
       .card-header { 
          height: 90px;         
       } 
 }
 
 i {
    font-size:  30px;
    color: $color-logoredes;
  }
 